04-workshop-n8n/workflow_agent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Subir archivos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Subir archivos",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1040,
        -96
      ],
      "id": "30f1c86c-f0c3-4851-90dc-264d9361a1ec",
      "name": "On form submission",
      "webhookId": "6d7dd79c-512f-4d3e-8c5a-1d02d517d6db"
    },
    {
      "parameters": {
        "tableName": "vectores",
        "clearTable": true
      },
      "type": "n8n-nodes-oracle-cloud.vectorStoreOracleInsert",
      "typeVersion": 1.3,
      "position": [
        -688,
        -96
      ],
      "id": "d827cb8d-42a6-427d-93d1-f1564b01f07c",
      "name": "Oracle Database Vector Store: Insert",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {}
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -880,
        224
      ],
      "id": "5995546a-3f3f-4a9e-8c5f-c1bfbbee664e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 25,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -800,
        432
      ],
      "id": "a3d3ec30-bfcd-455e-9414-cca9203ebe55",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "compartmentId": "ocid1.compartment.oc1..aaaaaaaafaniufr3t6azq5kzu4nfwcjvg4t2whrdbfa75kfqjpdjlxefbouq",
        "model": "=cohere.embed-multilingual-v3.0"
      },
      "type": "n8n-nodes-oracle-cloud.embeddingsOciGenerativeAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        384
      ],
      "id": "70b10185-fed2-42c1-b035-9e4dc7e2887a",
      "name": "Embeddings OCI Generative AI",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        -96
      ],
      "id": "cf46596f-51ee-4118-aa01-bf956df1008a",
      "name": "When chat message received",
      "webhookId": "e2061932-51ad-4179-ad2e-b9365e0cdf47",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente muy amable que responde a las preguntas del usuario.\nUsuario:\n{{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        8,
        -96
      ],
      "id": "809ed6b4-0faf-45c3-9ddd-d247b6149f82",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "toolName": "vd_tool",
        "toolDescription": "Searches the most relevant paragraph",
        "tableName": "vectores",
        "distanceStrategy": "EUCLIDEAN_DISTANCE"
      },
      "type": "n8n-nodes-oracle-cloud.vectorStoreOracleTool",
      "typeVersion": 1.3,
      "position": [
        208,
        128
      ],
      "id": "feb15609-6a8b-4c0f-ba84-240adb1c0164",
      "name": "Oracle Database Vector Store: Tool",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        128
      ],
      "id": "87629ee8-310a-4798-8478-650778d995d6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "compartmentId": "ocid1.compartment.oc1..aaaaaaaafaniufr3t6azq5kzu4nfwcjvg4t2whrdbfa75kfqjpdjlxefbouq",
        "model": "=meta.llama-4-maverick-17b-128e-instruct-fp8",
        "options": {}
      },
      "type": "n8n-nodes-oracle-cloud.lmChatOciGenerativeAi",
      "typeVersion": 1,
      "position": [
        -48,
        128
      ],
      "id": "801359df-dfc6-4664-9fc3-45cc32b507c0",
      "name": "OCI Generative AI Chat Model",
      "notesInFlow": false,
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Oracle Database Vector Store: Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Oracle Database Vector Store: Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OCI Generative AI": {
      "ai_embedding": [
        [
          {
            "node": "Oracle Database Vector Store: Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Oracle Database Vector Store: Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Oracle Database Vector Store: Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OCI Generative AI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd132ab1-61fe-4d67-b972-afc63cb6ef45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5dce2805c95fba0f443b02bcb1f26138ae5e3d0243dfe92c76c3355258edb325"
  },
  "id": "xWjfwsmd60s7QP2g",
  "tags": []
}